MP_ACCESS_TOKEN=TU_TOKEN_DE_MERCADOPAGO_AQUI
GEMINI_API_KEY=TU_API_KEY_DE_GEMINI_AQUI
DATABASE_URL=postgres://postgres:TU_PASSWORD@postgres:5432/tsj_foodies
JWT_SECRET=TU_SECRETO_JWT_AQUI
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TU_PASSWORD_AQUI
POSTGRES_DB=tsj_foodies
PORT=5000
